// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #027BE3
$secondary = #26A69A
$accent    = #9C27B0

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037


$theme1-primary   = #296191
$theme1-secondary = #2b8077
$theme1-accent    = #681e75

$theme1-positive  = #129430
$theme1-negative  = #e0041e
$theme1-info      = #474e4f
$theme1-warning   = #dba309


$theme2-primary   = #912929
$theme2-secondary = #342b80
$theme2-accent    = #ad6f51

$theme2-positive  = #55d973
$theme2-negative  = #c74c4c
$theme2-info      = #a9cacf
$theme2-warning   = #d6c163


